/* descendent selector
.article p{
    color:green;
    font-size:40px;
}*/
/* direct descendent selector
.article>p{
    color: green;
    font-size: 30px;
}*/
/* adjacent sibling selector
h1+p{
    color:green;
    font-size: 30px;
}*/
/* general sibling selector*/
h1~p{
    color:green;
    font-size: 30px;
}