.feature-1{
    font-size: 10px;
}
.feature-2{
    font-size: 20px;
}
.feature-heading{
    font-size: 2em;
}
.feature-paragraph{
    font-size: 1em;
}
.feature-button{
    font-size: 0.5em;
    background-color: lightblue;
}
