.flex-container{
    width: 800px;
    height: 800px;
    background-color: lightgray;
    display: flex;  /*activates flexbox*/
    color: white;
    font-size: 30px;
    flex-direction: column; 
    /* flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; 
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;*/
    /* justify-content: center;  No change if height/ width not set on column main axis */
    justify-content: space-between;
}
.flex-item1{
    width: 200px;
    height: 100px;
    background-color: chocolate;
}
.flex-item2{
    width: 50px;
    height: 100px;
    background-color:blue;
}
.flex-item3{
    width: 100px;
    height: 150px;
    background-color: aquamarine;
}
.flex-item4{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}