h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    font-family:Bitcount+Grid+Single,Impact,sans-serif ;
}