div{
    height: 500px;
    width: 500px;
    background-color: khaki;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
}
a{
    background-color: turquoise;
    color: brown;
    padding: 50px 50px;
}