/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/



/*-------------------------------- GLOBAL STYLES ----------------------------------*/
/* addin universal selector later to emove default spacing using box model*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body will be having default styled for elemnts inheriting */
html{
    font-size: 62.5%;
    /* 10 px of font size of root*/
}
body{
    font-family: 'Poppins',sans-serif;
    color: #212529;
    font-weight: 400;
    line-height: 1.2;
}
.header{
    height: 100vh;
    min-height: 800px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width:90%;
}
/* inheritence prop have lowest speficity*/

/*  grouping shared styles  */
h1,h2,h3,h4,h5{
    font-weight: 700;
    
    letter-spacing: -2px;
    line-height: 1.2;
}
h1{
    /*text-align: center; hadling using inheritence */
    font-size: 6.2rem;
}
h2{
    /*text-align: center;*/
    font-size: 4.8rem;
}
h3{
    font-size: 4rem;
}
h4{
    letter-spacing: -2px;
    font-size: 3.2rem;
}
h5{
    letter-spacing: -2px;
    font-size: 2.4rem;
}
p,a,.small-text{
    font-weight: 400;
    color: #495057;
}
p{
    line-height: 1.5;
    font-size:2rem;
}
a{
    text-decoration: none;
    line-height: 1.5;
    font-size: 1.6rem;
    display: inline-block;
}
span{
    display: inline-block;
}
ul{
    
    list-style: none;
}
.small-text{
    font-size: 1.2rem;
}


/*-------------------------------- Components ----------------------------------*/
.btn{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}
.btn-primary:link,.btn-primary:visited{
    color:#ffffff;
    background-color: #339af0;
    border: 2px solid #339af0;
}
.btn-primary:hover,.btn-primary:active{
    color: #ffffff;
    background-color: #1c7ed6;
    border: 2px solid #1c7ed6;
}
.btn-primary-outline:link, .btn-primary-outline:visited{
    color: #339af0;
    background-color:#ffffff;
    border: 2px solid #339af0;

}
.btn-primary-outline:hover, .btn-primary-outline:active{
    color: #1c7ed6;
    background-color:#ffffff;
    border: 2px solid #1c7ed6;
    
}
.btn-secondary:link,.btn-secondary:visited{
    
    background-color: #9775fa;
    color:#ffffff;
    border: 2px solid #9775fa;
}
.btn-secondary:active,.btn-secondary:hover{
    color: #ffffff;
    background-color:#7048e8;
    border: 2px solid #7048e8;
}
.highlight{
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: 4px;

}
.highlight-primary{
    background-color:#339af0;

}
.highlight-secondary{
    background-color: #9775fa;
}
.highlight-tertiary{
    background-color: #ff922b;
}
.logo-md{
    width: 100px;
}
.logo-sm{
    width: 80px;
}


/*-------------------------------- SECTIONS ----------------------------------*/
/*------------------- Navbar --------------------*/
.navbar{
    margin-bottom: 20rem;
}
.hero-heading{
    margin-bottom: 1rem;
}
.hero-paragraph{
    margin-bottom: 5rem;
}
/*------------------- Hero-Section --------------------*/
.hero-section{
    text-align: center;
    margin-bottom: 30rem;
}


/*------------------- features-Section --------------------*/
.features-section{
    margin-bottom: 30rem;
}
.features-main-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.features-img{
    maX-width: 400px;
    width: 100%;
}
.features-heading{
    margin-bottom: 2rem;
}




/*------------------- CTA-Section --------------------*/
.cta-section{
    text-align: center;
    margin-bottom: 30rem;
}
.cta-card{
    background-color: #339af0;
    max-width: 1000px;
    padding: 10rem 20rem;
    border-radius: 20px;
    margin: 0 auto;
}
.cta-heading{
    margin-bottom: 3rem;
}


/*------------------- footer-Section --------------------*/

.footer{
    text-align: center;
}
.social-icons{
    width: 20px;
}
