/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/



/*-------------------------------- GLOBAL STYLES ----------------------------------*/
/* addin universal selector later to emove default spacing using box model*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body will be having default styled for elemnts inheriting */
html{
    font-size: 62.5%;
    /* 10 px of font size of root*/
}
:root{
    --text-sm:1.2rem;
    --text-base:1.6rem;
    --text-paragraph:2rem;
    --text-h5:2.4rem;
    --text-h4:3.2rem;
    --text-h3:4.0rem;
    --text-h2:4.8rem;
    --text-h1:6.2rem;

    --font-weight-bold:700;
    --font-weight-normal:400;

    --line-height-tight:1.2;
    --line-height-normal:1.5;
    --letter-spacing-tight:-2px;


    --font-family:'Poppins',Sans-serif;

    --primary-base:#339af0;
    --primary-tint:#d0ebff;
    --primary-shade:#1c7ed6;
    --secondary-base:#9775fa;
    --secondary-tint:#e5dbff;
    --secondary-shade:#7048e8;
    --tertiary-base:#ff922b;
    --tertiary-tint:#ffe8cc;
    --tertiary-shade:#f76707;
    --grey-base:#495057;
    --grey-tint:#f1f3f5;
    --grey-shade:#212529;
    --black:#000000;
    --white:#ffffff;

}
body{
    font-family:var(--font-family);
    color: var(--grey-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
}
.header{
    height: 100vh;
    min-height: 800px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width:90%;
}
/* inheritence prop have lowest speficity*/

/*  grouping shared styles  */
h1,h2,h3,h4,h5{
    font-weight: var(--font-weight-bold);
    color: var(--grey-sharem);
    letter-spacing: var(--letter-spacing-tight);
    line-height: var(--line-height-tight);
}
h1{
    /*text-align: center; hadling using inheritence */
    font-size: var(--text-h1);
}
h2{
    /*text-align: center;*/
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
h4{
    letter-spacing: var(--letter-spacing-tight);
    font-size: var(--text-h4);
}
h5{
    letter-spacing: var(--letter-spacing-tight);
    font-size: var(--text-h5);
}
p,a,.small-text{
    font-weight: var(--font-weight-normal);
    color:var(--grey-base);
}
p{
    line-height: var(--line-height-normal);
    font-size:var(--text-paragraph);
}
a{
    text-decoration: none;
    line-height: var(--line-height-normal);
    font-size: var(--text-base);
    display: inline-block;
}
span{
    display: inline-block;
}
ul{
    
    list-style: none;
}
.small-text{
    font-size: var(--text-sm);
}


/*-------------------------------- Components ----------------------------------*/
.btn{
    font-weight: var(--font-weight-normal);
    font-size: var(--text-base);
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}
.btn-primary:link,.btn-primary:visited{
    color:var(--white);
    background-color: var(--primary-base);
    border: 2px solid var(--primary-base);
}
.btn-primary:hover,.btn-primary:active{
    color: var(--white);
    background-color: var(--primary-shade);
    border: 2px solid var(--primary-shade);
}
.btn-primary-outline:link, .btn-primary-outline:visited{
    color: var(--primary-base);
    background-color:#ffffff;
    border: 2px solid var(--primary-base);

}
.btn-primary-outline:hover, .btn-primary-outline:active{
    color: var(--primary-shade);
    background-color:var(--white);
    border: 2px solid var(--primary-shade);
    
}
.btn-secondary:link,.btn-secondary:visited{
    
    background-color: var(--secondary-base);
    color:var(--white);
    border: 2px solid var(--secondary-base);
}
.btn-secondary:active,.btn-secondary:hover{
    color: var(--white);
    background-color:var(--secondary-shade);
    border: 2px solid var(--secondary-shade);
}
.highlight{
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 4px;

}
.highlight-primary{
    background-color:var(--primary-base);

}
.highlight-secondary{
    background-color: var(--secondary-base);
}
.highlight-tertiary{
    background-color: var(--tertiary-base);
}
.logo-md{
    width: 100px;
}
.logo-sm{
    width: 80px;
}


/*-------------------------------- SECTIONS ----------------------------------*/
/*------------------- Navbar --------------------*/
.navbar{
    margin-bottom: 20rem;
}
.hero-heading{
    margin-bottom: 1rem;
}
.hero-paragraph{
    margin-bottom: 5rem;
}
/*------------------- Hero-Section --------------------*/
.hero-section{
    text-align: center;
    margin-bottom: 30rem;
}


/*------------------- features-Section --------------------*/
.features-section{
    margin-bottom: 30rem;
}
.features-main-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.features-img{
    maX-width: 400px;
    width: 100%;
}
.features-heading{
    margin-bottom: 2rem;
}




/*------------------- CTA-Section --------------------*/
.cta-section{
    text-align: center;
    margin-bottom: 30rem;
}
.cta-card{
    background-color: var(--primary-base);
    max-width: 1000px;
    padding: 10rem 20rem;
    border-radius: 20px;
    margin: 0 auto;
}
.cta-heading{
    margin-bottom: 3rem;
}


/*------------------- footer-Section --------------------*/

.footer{
    text-align: center;
}
.social-icons{
    width: 20px;
}
